.App {
  width: auto;
  text-align: center;
  background-color:lavender;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "Georgia";
  margin: 15px;
  font-size: 35px;;


}

html{
  background-color:lavender;
}



button {
  margin-left: 10px;
  background: black;
  color: thistle;
  width: 75px;
  height: 35px;
  font-size: 20px;;
}


